@{
    ViewData["Title"] = "Identification";
}
<h2>@ViewData["Title"]</h2>

<p>I could confirm that you are the principal.</p>
<script>
    setTimeout(function () {
        window.location.href = '/auth';
    }, 5 * 1000);
</script>
